# Build outputs
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code workspace
.vscode/

# VS specific folder
.vs/

# IIS Express
.vsconfig

# Rider
.idea/

# Logs
*.log

# Database
*.mdf
*.ldf

# Others
_ReSharper*/
*.resharper
*.DotSettings.user

# Npm / Node
node_modules/

# dotenv
.env

# Backup
*.bak

# Publish profiles
Properties/PublishProfiles/
